<%- include("header"); -%>



<section class="about-section">
  <div class="jollof-section">

  </div>
</section>

<section class="address-section">
  <div class="row">
    <div class="col-lg-6">
      <h3>About ibile foods</h3>
      <hr>
      <p>... local meals like you 've never had.</p>
      <p>Ibile Foods Restaurant provides authentic Nigerian, African and Continental dishes that evoke not only your taste buds but deep seated satisfaction for all your senses.</p>
      <p>Our fresh, flavourful and rich meals served in a cozy environment will take you on a culinary experience you will not only want to have over and over and over again, but also, want to share that experience with your friends and loved ones.
      </p>
      <p>Ibile Foods crave to bring you right ‘home’, where you enjoy real local delicacies and savour the moment.</p>

    </div>
    <div class="center col-lg-6">
      <h3 class="place">Place an order now</h3>
      <p class="class">___</p>
      <h2><i class="fa-solid fa-phone"></i> +234 8166 4606 49</h2>
      <p class="class">___</p>
      <h6>restuarant address</h6>
      <p>9 Ilupeju Byepass, Ilupeju, Lagos</p>
      <p>Open Mon-Sat: 8AM – 10PM</p>

    </div>

  </div>
</section>









<%- include("footer"); -%>
