<%- include("header"); -%>

<section>
  <div class="carousel-section">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/ponmo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/moi-moi.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/dodo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/beans.jpg" class="d-block w-100" alt="">

        </div>
      </div>
    </div>

  </div>
</section>


<section class="third-section">
  <div class="grid-system mx-5 px-5 mb-1 row">
    <div class="px-1 mt-5 col-lg-3">
      <a href="#">
        <img src="images/chicken-copy.jpg" alt="">
      </a>
      <div class="transform">
        <a href="#">
          <h4>protein</h4>
        </a>

      </div>

    </div>
    <div class="px-1 mt-5 col-lg-3">
      <a href="#">
        <img src="images/dodoo.jpg" alt="">
      </a>
      <div class="transform">
        <a href="#">
          <h4>main dish</h4>
        </a>

      </div>

    </div>
    <div class="px-1 mt-5 col-lg-3">
      <a href="#">
        <img src="images/vegetable-soup.jpg" alt="">
      </a>
      <div class="transform">
        <a href="#">
          <h4>soup</h4>
        </a>

      </div>
    </div>
    <div class="px-1 mt-5 col-lg-3">
      <a href="#">
        <img src="images/moi.jpg" alt="">
      </a>

      <div class="transform">
        <a href="#">
          <h4>extras</h4>
        </a>

      </div>

    </div>
    <div class="px-1 col-lg-3">
      <a href="#">
        <img src="images/amala-copy.jpg" alt="">
      </a>
      <div class="transform">
        <a href="#">
          <h4>swallow</h4>
        </a>

      </div>

    </div>
    <div class="px-1 col-lg-3">
      <a href="#">
        <img src="images/sausage.jpg" alt="">
      </a>
      <div class="transform">
        <a href="#">
          <h4>pastries</h4>
        </a>

      </div>
    </div>
    <div class="px-1 col-lg-3">
      <a href="#">
        <img src="images/doughnut.jpg" alt="">

      </a>
      <div class="transform">
        <a href="#">
          <h4>pastries</h4>
        </a>

      </div>


    </div>

  </div>
</section>



<%- include("footer"); -%>
