<%- include("header"); -%>

<div class="menu-section">
  <img src="images/egusi.jpg" alt="">

</div>

<section class="our-service">
  <h3 style="text-transform: uppercase;">our menu</h3>
  <hr>
  <p>We take pride in our ability to tailor all of our food offerings to meet any appetite</p>


</section>

<div class="first-nothing">

  <button class="btn btn-lg" type="button" name="button">Main Course</button>
  <button class="btn btn-lg" type="button" name="button">Soup/Sauce</button>
  <button class="btn btn-lg" type="button" name="button">Toppings</button>
  <button class="btn btn-lg" type="button" name="button">Appetisers</button>
  <div class="nothing">

  </div>
</div>










<%- include("footer"); -%>
