<%- include("header"); -%>


<div class="service-section">
  <img src="images/services.jpg" alt="">

</div>


<section class="our-service">
  <h3 class="capitals">Our sevices</h3>
  <hr>
  <p>... Providing Exceptional Food For Every Event</p>
  <p>At Ibile Foods, we make planning and holding a catered event easy.</p>
  <p>We handle the catering so you can focus on what really matters — your guests and your special day. We deliver mouthwatering cuisine that has attendees talking about your event for years to come.</p>
  <p>Most of the events we cater for, weddings, corporate, or your private events, we provide our basic menu which is tailored to the needs of our clients. We also welcome the opportunity to customize selections to suit our clients’ dietary,
    taste and budgetary needs.</p>
  <p>Although we have some set packages, we often offer suggestions and guidance on menu selections. Sometimes, we even help people play on a theme or special idea. In this way, each event we cater is unique.</p>
  <p>Working with our chefs, we can adapt items as side dishes, trays or full entrees. We take pride in our ability to tailor all of our food offerings to your event uniquely special.</p>

</section>




<%- include("footer"); -%>
